*{
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgba(216, 129, 167, 0.816);
    padding: 0px;
    margin: 0px;
}

header {
    height: 8vh;
}

main {
   background-color: rgb(245, 207, 222);
   height: 70vh;
   display: flex;
   flex-direction: column;
   align-content: center;
   justify-content: center;
   align-items: center;
}   

footer {
    height: auto;
 }

 header ul li {
    padding-left: 10px;
    padding-right: 20px;
}

nav{
    position: absolute;
    top: -10px;
    right: 20px;
}

nav li{
    display: inline-block;
}

#fotoPerfil{
    width: 50px; 
    height: 50px; 
    border-radius: 150px; 

}

.buscador{
    border: 1px;
    border-color: black;
    padding: 30px;
}


.icon-buscador {
    display: inline-block;
    width:30px;
    height: 30px;
    padding: 10px;
}

.btn-buscador {
    background-color: white;
    border: black solid 1px;
    padding: 5px;
    border-radius: 30px;
}

#input-buscador{
    
    outline: none;
    border: none;
    width: 600px;
    height: 30px;;
    padding: 5px;
}

.botones button{
    margin: 20px;
    padding: 8px;
    width: 150px;
    font-size: 14px;
    background-color: rgba(216, 129, 167, 0.816);
    border-radius: 10px;
    border: none;
    color: white
} 

.botones {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; 
  }

ul {
    list-style-type: none;
}


footer ul {
    display: inline;
    margin:  200px 30px ;
}

footer ul li {
    display: inline;
    padding: 30px;
}

/* main {
    height: ;
} */
 
/* alig
align text
float 
unidades de medida */