*{
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgba(216, 129, 167, 0.816);
    padding: 0px;
    margin: 0px;
}

header {
    height: 8vh;
}

main {
   background-color: rgb(245, 207, 222);
   height: 70vh;
   display: flex;
   flex-direction: column;
   justify-content: center;

   flex-wrap: wrap;
   ;
   
   
   align-content: center;
}   

footer {
    height: auto;
 }

nav{
    position: absolute;
    top: 0px;
    right: 2px;
}

nav li{
    display: inline-block;
}

#fotoPerfil{
    width: 50px; 
    height: 50px; 
    border-radius: 150px; 

}

.buscador{
    border: 1px;
    border-color: black;
    padding: 30px;
}

.icon-buscador {
    display: inline-block;
    width: 40px;
    height: 40px;
}

#input-buscador{
    outline: none;
    border: none;
    width: 400px;
    height: 30px;;
    padding: 5px;
}

.botones button{
    padding: 8px;
    width: 150px;
    font-size: 14px;
    background-color: rgba(216, 129, 167, 0.816);
    border-radius: 10px;
    border: none;
    color: white
}

ul {
    list-style-type: none;
}

header ul li {
    display: inline;
    padding: 40px;
}

footer ul {
    display: inline-block;
    margin: 25px 20px;
}

footer ul li {
    display: inline;
    padding: 20px;
}

/* main {
    height: ;
} */
 
/* alig
align text
float 
unidades de medida */